@charset "utf-8";
html {
}
s
body {
}

img {
    max-width: 100%;
    height: auto;
}


.head1{
    display: flex;
    text-align: justify;
}


.head2{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 30px;
    color: blueviolet;
    background-color: rgb(195, 252, 252);
}

.about{
text-align: center;
}

.about1{
    margin-top: 70px;
    font-weight: bold;
    font-size: 50px;
    color: blueviolet;
}

.about2{
    margin-top: 50px;
    font-size: 25px;
}

.about3{
    margin-top: 20px;
    font-size: 25px;
}

.about4{
    margin-top: 20px;
    font-size: 25px;
}

.youtube{
    text-align: center;
    margin-top: 50px;
}

.game1{
    text-align: center;
    margin-top: 150px;
    color: blueviolet;
    background-color: rgb(190, 253, 253);
    font-weight: bold;
    font-size: 70px;
}

.main{
    text-align: center;
    margin-top: 30px;
}

.hukidashi{
    margin-top: 20px;
    margin-left: 150px;
}

.hukidashi{
    position: relative;
    margin-bottom: 50px;
}

.hukidashi p {
    position: absolute;
    top: 80px;
    left: 100px;
    font-size: 50px;
}

main{
    border-bottom:1px solid #ccc;
}

p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    margin-bottom: 40px;
}
li:hover{
    background: #ffffff;
    color:#fff;
}

.com_hand{
    text-align: center;
    margin-top: 30px;
    color: r            gb(100, 55, 55);

}

.result{
    text-align: center;
    margin-top: 40px;
    color: rgb(117, 68, 68);
}